%ul.links
  %li= link_to "@mehulkar", "http://twitter.com/mehulkar"
  %li= link_to "/portfolio", portfolio_path
  %li= link_to "/resume", "http://linkedin.com/in/mehulkar"
  %li= mail_to "mehul.kar+website@gmail.com", "email"
  %li= link_to "/blog", posts_path