%ul
  %li= link_to "@mehulkar", "http://twitter.com/mehulkar"
  %li= link_to "/portfolio", portfolio_path
  %li= link_to "/resume", "http://linkedin.com/in/mehulkar"
  %li= mail_to "mehul.kar+website@gmail.com", "email"
  %li= link_to "/blog", posts_path
%hr
%ul
  %li= link_to "bit.ly/thumbsupbro", "http://bit.ly/thumbsupbro"
  %li= link_to "bit.ly/jokerhiii", "http://bit.ly/jokerhiii"
  %li= link_to "bit.ly/borathifive", "http://bit.ly/borathifive"
  %li= link_to "bit.ly/bestslowclap", "http://bit.ly/bestslowclap"
  %li= link_to "bit.ly/imabigfan", "http://bit.ly/imabigfan"