<% content_for :title, "Blog - " %>
<nav>
  <li><%= link_to "Popular", posts_path(sort: "popular") %></li>
  <li><%= link_to "Recent", posts_path %></li>
  <li><%= link_to "Random", post_path(id: 1, random: true) %></li>
</nav>
<div class="posts">
  <% @posts.each do |post| %>
    <%= link_to(post, class: 'post-title') do %>
      <span class="subtext views"><%= pluralize post.views, 'view' %></span>
      <div class="title"><%= post.formatted_title %></div>
      <span class="subtext date"><%= post.created_at.strftime(format='%b %e, %Y') %></span>
    <% end %>
  <% end %>
</div>