<nav>
	<li><%= link_to "Popular", controller: "posts", sort: "views" %></li>
	<li><%= link_to "Recent", controller: "posts", sort: "recent" %></li>
</nav>
<div class="posts">
  <% @posts.each do |post| %>
    <%= link_to(post, class: 'post-title') do %>
      <span class="subtext views"><%= pluralize post.views, 'view' %></span>
      <div class="title"><%= post.title %></div>
      <span class="subtext date"><%= post.created_at.strftime(format='%b %e, %Y') %></span>
    <% end %>
  <% end %>
</div>