<% content_for :title, "Blog" %>
<% content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>

<nav>
  <%= link_to "Popular", posts_path(sort: "popular"), class: 'button' %>
  <%= link_to "Recent", posts_path, class: 'button' %>
  <%= link_to "Random", post_path(id: 1, random: true), class: 'button' %>
</nav>
<div class="posts">
  <% @posts.each do |post| %>
    <%= link_to(post, class: 'post-title') do %>
      <span class="subtext views"><%= pluralize post.views, 'view' %></span>
      <div class="title"><%= post.formatted_title %></div>
      <span class="subtext date"><%= post.created_at.strftime(format='%b %e, %Y') %></span>
    <% end %>
  <% end %>
</div>