<h1>Hello</h1>

<p>I am a human. What are you?</p>

<p>
  You can find most of the information about my career path on <%= link_to "Linkedin", "https://linkedin.com/in/mehulkar", target: '_blank' %>, and
  if you're interested in what I'm reading, you can browse my <%= link_to "Twitter likes", "https://twitter.com/mehulkar/likes", target: '_blank' %>,
  but you can also stay here and read what I'm thinking about. If you have something to say to me,
  you can send me an <%= mail_to "mehul.kar@gmail.com", "email" %>.
</p>

<nav class='flex flex-wrap mb4'>
  <%= partial('partials/categories', locals: { current_categories: Post.categories.sort })%>
</nav>

<% posts_by_year = Post.by_year %>
<% current_year = Date.today.year.to_s %>
<% years = posts_by_year.map(&:first) %>

<% if !years.include? current_year %>
  <div class='mb3 mt0 ml0'>
    <h2 class='mb3'><%= Date.today.year %></h2>
    <p>
      I haven't written anything this year &#x2639;.
    </p>
  </div>
<% end %>

<%= partial 'partials/by-year', locals: { grouped_posts: posts_by_year } %>
