<h1>Hello</h1>

<p>I am a human. What are you?</p>

<p>
  You can see more about my day job on <%= link_to "Linkedin", "https://linkedin.com/in/mehulkar", target: '_blank', rel: "noopener"  %>.
  For a closer look at my interests, glance through my <%= link_to "Twitter faves", "https://twitter.com/mehulkar/likes", target: '_blank', rel: "noopener" %>
  or see what I'm reading on <%= link_to "Goodreads", "https://www.goodreads.com/user/show/27391275-mehul", target: '_blank', rel: 'noopener' %>. You can also stay here
  and read what I'm thinking about.
</p>

<p>This is what the last 10 or so years have looked like:</p>
<ul class="mb4">
  <li>Frontend engineer at <a href="https://apple.com">Apple</a></li>
  <li><s>Web development at <a href="https://www.linkedin.com/company/mochaleaf-inc">Mochaleaf</a></s></li>
  <li><s>Wrote some code for <a href="https://teawithstrangers.com">TeaWithStrangers</a></s></li>
  <li><s>Learned how to code at <a href="https://devbootcamp.com">Dev Bootcamp</a></s></li>
  <li><s>Created a national community of South Asian students at <a href="http://collegedesis.com">CollegeDesis</a></s></li>
  <li><s>Facilitated microloans at <a href="https://www.facebook.com/FridgeWaves">FridgeWaves</a></s></li>
  <li><s>Graduated with a BBA in Finance from <a href="http://www.uww.edu/cobe/">University of Wisconsin-Whitewater</a></s></li>
  <li><s>Learned the Science of Creative Intelligence at <a href="http://maharishischooliowa.org">Maharishi School of the Age of Englightnment</a></s></li>
</ul>

<h2 class="mb2">Blog</h2>

<nav class='flex flex-wrap mb4'>
  <%= partial('partials/categories', locals: { current_categories: Post.categories.sort })%>
</nav>

<%= partial 'partials/by-year', locals: { grouped_posts: Post.by_year } %>
