<h1>Hello</h1>

<p>I am a human. And so are you. Or maybe you are a robot?</p>

<p>
  I wrote down a whole bunch of words here. You can read all of them below or
  some specific categories like <%= link_to 'poetry', poetry_path %>, <%= link_to 'books', books_path %>
  or <%= link_to 'quotations', quotations_path %>.
</p>

<% if !(post_groups.map { |g| g[0]}.include?(Date.today.year.to_s)) %>
  <h3><%= Date.today.year%></h3>
  <p>
    I haven't written anything this year &#x2639;.
  </p>
<% end %>

<% post_groups.each do |group, posts| %>
  <div class="post-group">
    <h3><%= group %></h3>
    <%= partial 'partials/list', locals: { posts: posts } %>
  </div>
<% end %>
