<h1>Hello</h1>

<p>I am a human. What are you?</p>

<p>
  You can find most of the information about my career on <%= link_to "Linkedin", "https://linkedin.com/in/mehulkar", target: '_blank' %>, and
  if you're interested in what I'm reading, you can browse my <%= link_to "Twitter likes", "https://twitter.com/mehulkar/likes", target: '_blank' %>.
  But you can also stay here and read what I'm thinking about. Or, if you have something to share,
  send me an <%= mail_to "mehul.kar@gmail.com", "email" %>.
</p>

<nav class='flex flex-wrap mb4'>
  <%= partial('partials/categories', locals: { current_categories: Post.categories.sort })%>
</nav>

<%= partial 'partials/by-year', locals: { grouped_posts: Post.by_year } %>
