!!!
%html
	%head
		%title blog

		= stylesheet_link_tag "application", media: "all" 
		= link{href:'http://fonts.googleapis.com/css?family=Poiret+One', rel:'stylesheet', type: 'text/css' }
		= link{href:'http://fonts.googleapis.com/css?family=PT+Mono', rel:'stylesheet', type: 'text/css' }
		=javascript_include_tag
		=csrf_meta_tags
	%body
		#page
			#header
				Mehul Kar
				.tagline
					I write code
			%p.notice 
				= notice
			%p.alert 
				= alert
			#content
				= yield